---
import Button from "../Button.astro";
const name = "Ashton Prince Mathias";
const title = "Full Stack Developer";
const tagline = "Building impactful, responsive digital experiences while learning and growing in the world of technology.";
const resumeLink = "/Resume.pdf";
---

<section id="home" class="select-none relative z-10 flex min-h-screen w-full flex-col items-center justify-center px-4 text-center text-textcolor md:px-8">
  <h1 class="text-4xl font-extrabold sm:text-5xl md:text-6xl">
    Hey, I'm <span class="text-primary"> {name}</span>
  </h1>

  <h2 class="mt-4 text-xl font-medium sm:text-2xl">{title}</h2>

  <p class="mt-6 max-w-xl text-lg font-medium sm:text-lg text-gray-300">
    {tagline}
  </p>

  <div class="mt-8 flex flex-wrap items-center justify-center gap-4">
    <Button href="#projects">View Projects</Button>
    <Button href={resumeLink}>Resume</Button>
  </div>
</section>
